
body{
    background-color: white;
}


#encabezado{
    margin: auto;
    width: 900px;
    height: 40px;
    color: #BADA55;
    background: #B58A69;
    text-align: center;
    font-size: 1.2; 

}

#contenedor{
    width: 1200px;
    height: 900px;
}

#menu{
    font-size: 18px;
    font-family: sans-serif;
}

.estacion {
    background: #DEE5DE;
    width: 900px;
    margin: 50 px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0px;
 }

 .estacionTexto {
    font-family: sans-serif;
    max-width: 50%;
    margin-left: 60px;
    text-align: justify;
 }
 
.estacionImg{
    width: 320px;
    height: 260px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 20px;
 }

 .textoPrimavera{
    text-align: justify;
    font-size: 15px;
    color: #000;
    margin-left: 400px;
    padding-right: 35px;
    margin-top: -190px;
 }

li{
    display: inline;
    padding: 8px 28px;

}

li :hover{
    color:  red;
}

nav {
    margin: auto;
    width: 900px;
 
 }

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
 }


 aside{
    font-size: 18px;
    background-color: #D7D7CB;
    font-family: sans-serif;
    width: 900px;
    margin-top: -18px;
 }
 aside h1{
    padding-top: 10px;

 }
 .imagenes-container {
    width: 200px;
    padding-bottom: 60px;
    margin-left: 12px;
    display: flexbox;
    justify-content: space-between;
 }
 
 

button{
    width: 120px;
    height: 35px;
    margin-right: 200px;
    margin-left: 150px;
    background-color: #5E5E4A;
    color: white;
    margin-bottom: 50px;
}

footer {
    width: 900px;
    height: 25px;
    background: #5E5E4A;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
 }

 footer h4 {
    font-size: 14px;
    color: #E8E6E6;
 }


 @media screen and (max-width: 650px){
    nav ul {
       flex-direction: column;
    }
}

.indexBody{
    background-color: aquamarine;
}